{% extends "myaccount/base.html" %}
{% block title %}
    PMA Page
{% endblock %}

{% block content %}

<style>
    .container{
        margin-top: 20px;   
        max-height: 500px;
        overflow-y: auto;   
    }
</style>
{% if messages %}
    {% for msg in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{msg}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}
<div class="d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="container">
        {% if user.is_authenticated and user.role == 2 %}
            {% if event_map %}
                <h3 style = "text-transform: uppercase;">PMA Dashboard</h3>
                {% for user_event, events in event_map.items %}
                    {% if events %}
                    <div class="user-event-container"> 
                        <div class="user-event-header">
                            <h3 class = "user-event-label" style ="color: var(--blue-color)">{{ user_event.first_name }} {{user_event.last_name}}'s Events:</h3>  
                            <button class="user-event-edit-btn" onclick="window.location.href = '/pma/edit_event/{{user_event.id}}' ">Edit <svg class="svg" viewBox="0 0 512 512">
                                <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"></path></svg></button>
                        </div>
                        <p style = "font-size: 14px; text-transform: uppercase;"><span style=" font-weight: 600; ">username:</span> {{user_event.username}}</p>   
                        {% for event in events %}
                            <a class = "event_item" href= "{% url 'events:view_event' event.pk %}"><span class="spn2">Event: {{ event.title }}</span></a>
                        {% endfor %}
                        <br>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if edit_events and event_creator%}
                <div class = "popup-overlay">
                    <div class="popup-content">
                        <span class="popup-close" onclick="window.location.href = '/pma'">&times;</span>
                        <div class ="popup-header">
                            <div class="profile-picture">
                                {{ event_creator.first_name|slice:":1" }}{{ event_creator.last_name|slice:":1" }}
                            </div>
                            <h3 style = "font-size: 14px; font-weight: 600;">{{ event_creator.first_name }} {{event_creator.last_name}}'s Events:</h3>
                        </div>
                        <form action="{% url 'delete_event' %}" method="GET">
                            <div class="popup-event-container">
                                {% for event in edit_events %}
                                <label class="event-item">
                                    <input type="checkbox" name="selected_events" value="{{ event.id }}" style="display: none;">
                                    <span>{{ event.title }}</span>
                                </label>
                                {% endfor %}
                            </div>
                            <button type="submit" class="delete-btn">Delete</button>
                        </form>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>

{% endblock %}